// @import "./variable.scss";

// // Login Page CSS

// .login-contents {
//   background-image: url("https://cdn.wallpapersafari.com/72/59/PQ1dWo.jpg");
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: top;
//   width: 100vw;
//   height: 100vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   .login-cards {
//     width: 500px;
//     height: 400px;
//     border-radius: 12px;
//     box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.25) !important;

//     .login-texts {
//       padding: 32px;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       flex-direction: column;
//       min-height: 336px;
//       gap: 32px;
//     }
//   }
// }

// .login-inputs {
//   position: relative;

//   input {
//     border-bottom: 2px solid $theme-2;
//     border-top: none;
//     border-left: none;
//     border-right: none;
//     background: transparent;
//     @extend .log-id-pss-text;
//     width: 300px;

//     &::placeholder {
//       @extend .text-details;
//     }

//     &:focus-visible {
//       outline: none !important;
//     }
//   }

//   .fa {
//     position: absolute;
//     right: 0px;
//     top: 5px;
//     color: $text-3;
//   }
// }

// // Auto Complete off

// input:-webkit-autofill,
// input:-webkit-autofill:hover,
// input:-webkit-autofill:focus {
//   -webkit-text-fill-color: #000 !important;
//   transition: background-color 5000s ease-in-out 0s;
// }

// // Buttons

// .kyc-button {
//   // This is common button css for all
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   padding: 0px 16px;
//   border-radius: $lg-border-radius;
//   height: 36px;
//   min-width: 120px;
//   cursor: pointer;
//   @extend .font-md-b;
// }

// .login-button {
//   background-color: $theme-1;
//   color: $text-2;
//   border: none;
//   @extend .kyc-button;

//   &:disabled {
//     pointer-events: none;
//     opacity: 0.9;
//   }
// }

// // Dashboards

// .bg-content {
//   min-height: 100vh;
//   padding: 32px;
//   background-color: $bg-2;
//   /* For browsers that do not support gradients */
//   background-image: linear-gradient($bg-1, $bg-2);
// }

// .card-1 {
//   background-color: $card-1;
//   padding: 24px;
//   box-shadow: $shadow-dialog;
//   border-radius: $lg-border-radius;
// }

// .info-card {
//   background-color: $bg-2;
//   padding: 16px;
//   min-width: 280px;
//   max-width: 320px;
//   width: 100%;
//   box-shadow: $shadow-dialog;
//   border-radius: $lg-border-radius;
//   border: 2px solid $stroke-1;
// }

// .horizontal-line {
//   border-top: 2px solid $stroke-1;

//   &.small-card {
//     width: calc(100% + 32px);
//     margin: 16px -16px;
//   }
// }

// .table-scroller {
//   overflow-x: auto;

//   table {
//     border-collapse: collapse;
//     width: 100%;

//     thead tr {
//       background-color: $bg-2;

//       th {
//         @extend .hint-text;
//         padding: 12px 16px;
//       }
//     }

//     tbody tr {
//       border-bottom: 2px solid $stroke-1;

//       td {
//         @extend .user-input-text;
//         padding: 12px 16px;
//       }
//     }
//   }

//   &::-webkit-scrollbar-track {
//     background-color: rgba(0, 0, 0, 0.1);
//     border-radius: $xl-border-radius;
//   }

//   &::-webkit-scrollbar-thumb {
//     background-color: $theme-1;
//     border-radius: $xl-border-radius;
//   }
// }

// .table-scroller::-webkit-scrollbar {
//   width: 5px;
//   height: 5px;
// }

// .refresh {
//   background-color: $bg-2;
//   border-radius: $xl-border-radius;
//   padding: 4px 12px;
//   cursor: pointer;
// }
/* Import Variables
/* Assuming "./variable.scss" contains variable definitions */

/* Login Page CSS */
.login-contents {
  background-image: url("https://cdn.wallpapersafari.com/72/59/PQ1dWo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-contents .login-cards {
  width: 500px;
  height: 400px;
  border-radius: 12px;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.25) !important;
}

.login-contents .login-cards .login-texts {
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 336px;
  gap: 32px;
}

.login-inputs {
  position: relative;
}

.login-inputs input {
  border-bottom: 2px solid #0075ff;
  border-top: none;
  border-left: none;
  border-right: none;
  background: transparent;
  width: 300px;
}

/* .login-inputs input::placeholder {
    color: Assuming .text-details is a class with some color definition;
  } */

.login-inputs input:focus-visible {
  outline: none !important;
}

.login-inputs .fa {
  position: absolute;
  right: 0px;
  top: 5px;
  color: #4c515b;
}

/* Auto Complete off */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #000 !important;
  transition: background-color 5000s ease-in-out 0s;
}

/* Buttons */
.kyc-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  border-radius: 8px !important;
  height: 36px;
  min-width: 120px;
  cursor: pointer;
}

.login-button {
  background-color: #c56868;
  color: #e5e5e5;
  border: none;
  padding: 8px 20px;
}

.login-button:disabled {
  pointer-events: none;
  opacity: 0.9;
}

/* Dashboards */
.bg-content {
  min-height: 100vh;
  padding: 32px;
  background-color: #be4d79;
  background-image: linear-gradient(#845670, #be4d79);
}

.card-1 {
  background-color: #f76b88;
  padding: 24px;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.25) !important;
  border-radius: 8px !important;
}

.info-card {
  background-color: #be4d79;
  padding: 16px;
  min-width: 280px;
  max-width: 320px;
  width: 100%;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.25) !important;
  border-radius: 8px !important;
  border: 2px solid #845670;
}

.horizontal-line {
  border-top: 2px solid #845670;
}

.horizontal-line.small-card {
  width: calc(100% + 32px);
  margin: 16px -16px;
}

.table-scroller {
  overflow-x: auto;
}

.table-scroller table {
  border-collapse: collapse;
  width: 100%;
}

.table-scroller thead tr {
  background-color: #be4d79;
}

.table-scroller thead th {
  padding: 12px 16px;
}

.table-scroller tbody tr {
  border-bottom: 2px solid #845670;
}

.table-scroller tbody td {
  padding: 12px 16px;
}

.table-scroller::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 12px !important;
}

.table-scroller::-webkit-scrollbar-thumb {
  background-color: #c56868;
  border-radius: 12px !important;
}

.table-scroller::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.refresh {
  background-color: #be4d79;
  border-radius: 12px !important;
  padding: 4px 12px;
  cursor: pointer;
}
